@import 'libs/fonts';
@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';


* {
    font-family: Lato, sans-serif;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/portfolio';
@import 'blocks/works';
@import 'blocks/contact';
@import 'blocks/address';
@import 'blocks/footer';
@import 'base/animations';

